<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Create Product</title>
</head>
<body>
<form th:action="@{/products/create((${_csrf.parameterName})=(${_csrf.token}))}" method="post" th:object="${productForm}" class="form" enctype="multipart/form-data">

    <table>
        <tr>
            <th>Product Code</th>
            <td><input th:field="*{code}"></td>
        </tr>
        <tr>
            <th>Name</th>
            <td><input type="text" th:field="*{name}"></td>
        </tr>
        <tr>
            <th>Size</th>
            <td><input type="number" th:field="*{size}"></td>
        </tr>
        <tr>
            <th>Stock</th>
            <td><input type="number" th:field="*{quantity}"></td>
        </tr>
        <tr>
            <th>Thumbnail</th>
            <td><input type="file" th:field="*{image}" class="form-control"></td>
        </tr>
        <tr>
            <th>Price</th>
            <td><input type="number" th:field="*{price}"></td>
        </tr>
        <!--<tr>-->
            <!--<th>Name Category</th>-->
            <!--<td>-->
                <!--<select th:field="*{}">-->
                    <!--<option th:each="cate : ${categories} "-->
                            <!--th:value="${cate.id}"-->
                            <!--th:text="${cate.name}">-->
                    <!--</option>-->
                <!--</select>-->
            <!--</td>-->
        <!--</tr>-->
        <!--<tr>-->
            <!--<td>Name Brand</td>-->
            <!--<td>-->
                <!--<select th:field="*{brand}">-->
                    <!--<option th:each="brand : ${brands}"-->
                            <!--th:value="${brand.id}"-->
                            <!--th:text="${brand.name}">-->
                    <!--</option>-->
                <!--</select>-->
            <!--</td>-->
        <!--</tr>-->
        <tr>
            <td><input type="submit" value="create product"></td>
        </tr>
    </table>
</form>
</body>
</html>