<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Edit product</title>
</head>
<body>
<form th:action="@{/edit/product}" method="post" th:object="${product}">
    <input type="hidden" th:field="*{id}">
    <table>
        <tr>
            <th>Product Code</th>
            <td><input th:field="*{code}"></td>
        </tr>
        <tr>
            <th>Name</th>
            <td><input type="text" th:field="*{name}"></td>
        </tr>
        <tr>
            <th>Size</th>
            <td><input type="number" th:field="*{size}"></td>
        </tr>
        <tr>
            <th>Stock</th>
            <td><input type="number" th:field="*{quantity}"></td>
        </tr>
        <tr>
            <th>Thumbnail</th>
            <td><input type="text" th:field="*{image}"></td>
        </tr>
        <tr>
            <th>Price</th>
            <td><input type="number" th:field="*{price}"></td>
        </tr>
        <tr>
            <th>Name Category</th>
            <td>
                <select th:field="*{category}">
                    <option th:each="cate : ${categories} "
                            th:value="${cate.id}"
                            th:text="${cate.name}"
                            th:selected="(${cate.id} == *{category.id})">
                    </option>
                </select>
            </td>
        </tr>
        <tr>
            <td>Name Brand</td>
            <td>
                <select th:field="*{brand}">
                    <option th:each="brand : ${brands}"
                            th:value="${brand.id}"
                            th:text="${brand.name}"
                            th:selected="(${brand.id} == *{brand.id})">
                    </option>
                </select>
            </td>
        </tr>
        <tr>
            <td><input type="submit" value="edit product"></td>
        </tr>
    </table>
</form>
</body>
</html>